/*police du texte*/
body{
	font-family:"snap itc", comic sans ms;
	margin: 0px;
	padding: 0px;
}
nav{
	width: 100%;
}
/*cible les éléments directs de l'élément nav*/
nav > ul{
	margin: 0px;
	padding: 0px;
}
/*aligner les onglets et sous-onglets*/
nav > ul::after{
	content: "";
	display: block;
	clear: both;
}
/*mettre les lignes côte à côte*/
nav > ul > li{
	float: center;
	position: relative;
}
nav > ul > li > a{
	padding: 30px 100px;
	color:#ff006b;
	
}
/*supprimer les puces dans les lignes*/
nav li{
	list-style-type: none;
	
}
/*cacher les sous-menus*/
.submenu{
	display: none;
}
/*supprimer le trait sous les éléments a*/
nav a{
	display: inline-block;
	text-decoration: none;
	color: #ff006b;
}
/*modifier les styles des sous-menus et afficher les menus lorsque l'on passe la souris*/
nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
}
/*bordure fine et de couleur aux sous-menus, changement de police et taille et */
.submenu li{
	border-bottom: 1px solid #ff006b;
}
/*caractéristiques des sous-menus*/
.submenu li a{
	padding: 8px 8px;
	font-size: 15px;
	width: 100px;
}
.menu-chapitres:hover{
	border-top: 5px solid #ff006b;
	background-color: #ff006b;
	font: #ffffff;
}
/*couleurs et taille des textes, parfois ombrés*/
.ecriture-noir{
	color:#000000;
	font-size:20px;
	text-decoration: none;
}
/*forme de la cellule*/
.arrondi{
	border-radius:20px;
}


